*{
    margin: 0;
    padding: 0;
}
body html{
    width: 100%;
}
.clearFloat:after{
    content: "";
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.clearFloat{
    zoom:1;
}
.container{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background:linear-gradient(rgba(0,191,255,0.3),white,white,white,white,rgba(0,191,255,0.3));
}
.top{
    width: 100vw;
    height: 3vh;
}
.banner{
    width: 93.6vw;
    height: 6.6vh;
    margin-left: 3.2vw;
}
.ban{
    float: left;
    width: 10vw;
    height: 2vw;
    padding: 1.3vh 0;
    box-sizing: border-box;
}
.geming{
    width: 73.6vw;
    line-height: 3vh;
    text-align: center;
}
.geming p:nth-child(1){
    font-size: 3vh;
}
.geming p:nth-child(2){
    font-size: 1.5vh;
}
.share{
    float: right;
}
.ban img{
    width:4vh;
    height: 4vh;
}
.center{
    height: 72.9vh;
    padding: 5vh 0;
    box-sizing: border-box;
}
.center .photo img{
    width: 59vw;
    height: 59vw;
    border-radius: 50%;
    margin-left: 20vw;
    animation: 20s img;
    border: 1vw solid #9f9f9f;
}
@keyframes img {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.to{
    width: 80vw;
    margin-left: 10vw;
    margin-top: 3vh;
}
.volume{
    width: 60vw;
    height: 0.5vh;
    border: 0.5vw solid #9f9f9f;
    border-radius: 1vh;
}
.laba img{
    width: 10vw;
    height: 5vh;
    margin-top: -2vh;
    margin-right:9vw ;
    cursor: pointer;
}
.laba,.volume{
    float: left;
}
.volume .colo{
    width: 0;
    height:100% ;
    border-radius: 1vh;
    background-color: #1fa2ea;
    position: relative;

}
.volume .colo .bar{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-color: #b0caf6;
    position: absolute;
    top: -1.5vw;
    left: -1.50vw;
    cursor: pointer;
}
.txt{
    width: 60vw;
    height: 20vh;
    margin-top: 0.5vh;
    margin-left: 20vw;
    text-align: center;
    font-size: 3.2vw;
    overflow: hidden;
}
.progressBar{
    /*background-color: #b96dd7;*/
    width: 80vw;
    height: 2vh;
    cursor: pointer;
    font-size: 3.2vw;
    margin-left: 10vw;
}
.totalTime{
    width: 60vw;
    height: 0.5vh;
    border-radius: 0.8vh;
    border: 0.5vw solid #9f9f9f;
    cursor: pointer;
    margin-left: 20px;
}
.startTime,.totalTime,.timeWidth{
    float: left;
}
.totalTime .timeWidth{
    border-radius: 0.8vh;
    background-color: #1fa2ea;
    height: 100%;
    width: 0;
    position: relative;
}
.totalTime .timeWidth .bar1{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-color: #b0caf6;
    position: absolute;
    top:-1.4vw;
    right: -0.8vw;

}
.endTime{
    float: right;
}
.btn{
    height: 10vh;
    width: 93.6vw;
    margin-left: 3.2vw;
    cursor: pointer;
    position: relative;
    padding: 2.5vh 0;
    box-sizing: border-box;
}
.btn img {
    position: absolute;
}
.btn img:nth-child(1){
    width: 6vw;
    height: 5vw;
    left: 12%;
    top: 4vh;
}
.btn img:nth-child(2){
    width: 10vw;
    height: 10vw;
    left: 26.5%;
}
.btn img:nth-child(4){
    width: 10vw;
    height: 10vw;
    left: 64.4%;
}
.btn img:nth-child(5){
    width: 6vw;
    height: 5vw;
    left: 83.1%;
    top: 4vh;
}
.btn1{
    width: 11vw;
    height: 11vw;
    border-radius: 50%;
    background-color: #b0caf6;
    position: absolute;
    left:50%;
    margin-left: -5.5vw;

}
.btn1 img{
    margin-top: -38%;
    margin-left: 15%;
}
.footer{
    height: 7.5vh;
    padding: 3.5vw 0;
    box-sizing: border-box;
}
.aa{
    width: 23.4vw;
    float: left;
}
.footer .aa img{
    width: 8vw;
    height: 8vw;
    cursor: pointer;
    position: relative;
    left:7.7vw;
}

